<html>

<head>

<title>Student Web!</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>

function JSONToTable(obj, tablename) {
    $.each(obj, function(index, element) {
        row = '<tr>'
        row += '<td>' + element.first;
        row += ' ' + element.last + '</td>';
        row += '<td>' + element.email + '</td>';
        row += '</tr>'
        $(tablename + ' tr:last').after(row);
    });
}

function studentrow() { 

}

function loadStudents() {
	$.get( "/students", function( data ) {
		var students = $.parseJSON(data);
	        JSONToTable(students.students, "#studentTable", studentrow);
	});
}

$( document ).ready(function() {
	loadStudents();
});

</script>

</head>

<body>

<h1>Student Web Search</h1>

Filters: First Name <input name="first">
Last Name <input name="Last">
Average GPA <input type="number" step="0.01" name="average_gpa">

<hr>

<table id="studentTable" border=1>
<tr></tr>
</table>

</body>

</html>
